{
  "extends": [
    "stylelint-config-standard",
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "property-no-unknown": [
      true,
      ignoreProperties: ["overflow-scrolling"]
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      { "ignorePseudoClasses": ["global"] }
    ],
    "selector-pseudo-element-colon-notation": null,
    "shorthand-property-no-redundant-values": null
  }
}
