@media only screen and (max-width: 1100px) {
  body {
    .start .inner,
    .benefits .inner,
    .content .inner {
      padding-left: 30px;
      padding-right: 30px;
    }

    .close {
      right: 30px;
    }

    .content {
      .transactions {
        .item {
          padding: 30px 20px;

          &:before {
            display: none;
          }

          & > div {
            margin-right: 40px;

            &:last-child {
              margin-right: 0;
            }
          }

          .type {
            display: none;
          }
        }
      }

      .addresses .item .value {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .tabs li {
        margin-right: 30px;
      }

      .balance {
        margin-right: 30px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    .benefits .inner {
      padding-top: 80px;
      padding-bottom: 20px;
    }

    .benefits .col-3 {
      width: 50%;
      margin-bottom: 80px;
    }

    .start .kyc-status {
      display: none;
    }

    .start .header li {
      margin-left: 30px;
    }

    .inner-page .content .inner {
      padding-top: 60px;
      padding-left: 0;
      padding-right: 0;
    }

    .inner-page .content .inner .addresses {
      border: none;
    }

    .inner-page .content .inner .addresses:before {
      display: none;
    }

    .inner-page .content .inner .addresses .item {
      padding-left: 30px;
    }

    .inner-page .content .inner .addresses .item .img {
      display: none;
    }

    .inner-page .content .inner .addresses .item:first-child {
      padding-right: 15px;
    }

    .inner-page .content .inner .addresses .item:last-child {
      padding-left: 15px;
    }

    .inner-page .content .tabs,
    .inner-page .content .transactions {
      padding-left: 30px;
      padding-right: 30px;
    }

    .content {
      .transactions {
        .item {
          & > div {
            margin-right: 30px;
          }

          .hash .value {
            width: 100px;
            overflow: hidden;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  body {
    .content {
      .transactions {
        .item {
          & > div {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    &.overlay .start {
      height: 100%;
    }

    .menu-button {
      display: block;
    }

    .start .bg-1,
    .start .bg-2 {
      display: none;
    }

    .start .header {
      padding-top: $mobile-header-padding;
      padding-bottom: 80px;
    }

    .start .menu {
      z-index: 10;
      position: fixed;
      top: $mobile-header-full-height;
      left: 0;
      display: block;
      width: 0;
      min-height: calc(100vh - 100px);
      padding: 35px 0;
      background: $white;
      overflow: hidden;
      opacity: 0;

      li {
        display: block;
        margin: 0 0 30px 0;

        a {
          display: inline-block;
          font-weight: 600;
          white-space: nowrap;
        }

        .button.small {
          background-color: #fff;
          padding: 0 !important;
          border-top-left-radius: 0;
          border-bottom-right-radius: 0;
          line-height: inherit;
        }

        &.bordered a {
          display: block;
        }
      }

      &.menu-active {
        width: 100%;
        padding: 35px 30px;
        opacity: 1;
      }

      &.menu li:last-child {
        margin-bottom: 0;
      }
    }

    .start .text h1 {
      font-size: 20px;
      font-weight: normal;
    }

    .start .text p {
      font-size: 15px;
      line-height: 24px;
      font-weight: normal;
    }

    .start .text p br {
      display: none;
    }

    .start .counter {
      width: 100%;
      padding: 40px 0;
    }

    .start .counter .time {
      font-size: 32px;
    }

    .start .counter .col-3:after {
      display: none;
    }

    .benefits .col-3 {
      width: auto;
      float: none;
      margin-bottom: 60px;
    }

    .address {
      display: none;
    }

    .inner-page .start .header {
      padding: 30px 0;
      height: initial;
    }

    .inner-page .form .inner {
      width: auto;
      padding: 40px 30px;
    }

    .inner-page .form .inner .field {
      margin-bottom: 30px;
    }

    .inner-page .inner .addresses {
      // margin-top: -100px;
      padding: 30px 30px 100px 30px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .inner-page .inner .addresses .item {
      float: none;
      width: auto;
      padding: 0 !important;
    }

    .inner-page .inner .addresses .item:first-child {
      margin-bottom: 25px;
    }

    .inner-page .inner .addresses .title {
      margin-bottom: 10px;
    }

    .inner-page .inner .tabs {
      margin-bottom: 20px;
      position: relative;
      z-index: 10;
    }

    .inner-page .inner .tabs ul {
      float: none;
    }

    .inner-page .inner .tabs ul li {
      display: block;
    }

    .inner-page .inner .tabs .balance {
      position: absolute;
      left: 30px;
      top: -60px;
    }

    .inner-page .inner .tabs .button {
      position: absolute;
      right: 30px;
      top: -60px;
    }

    .message p {
      line-height: 1.5;
      font-size: 13px;
    }

    .status .item {
      line-height: 1.5;
      font-size: 13px;
    }

    .content {
      .transactions {
        .item {
          padding: 20px;

          .type {
            display: block;
            width: 100%;
            margin-right: 0;
            background-repeat: no-repeat;
            margin-bottom: 20px;
          }

          .jnt {
            position: absolute;
            margin: 0;
            left: 75px;
            top: 32px;
          }

          .amount,
          .hash,
          .date {
            margin-top: 20px;
            float: none;
          }

          .hash .value {
            width: auto;
            overflow: hidden;
          }

          & > div {
            margin-right: 0;
          }

          &.outgoing {
            .amount {
              display: none;
            }
          }
        }
      }
    }

    .auth {
      padding: 0 0 50px 0;

      .form-block {
        width: 260px;
      }

      .buttons {
        .button {
          float: none;
          width: auto;
          margin-bottom: 20px;
          display: block;
        }

        .pull-right {
          display: block;
          float: none;
          text-align: center;
        }
      }
    }

    .close {
      top: 28px;
    }

    .status-declined br {
      display: none;
    }

    .no-transactions {
      margin: 50px 0 0 0;
    }
  }
}

@media only screen and (max-width: 600px), screen and (max-height: 600px) {
  $mobile-modal-padding: 25px;

  body {
    .modal {
      .modal-content {
        max-width: 90%;
        margin: 20px;
        padding: $mobile-modal-padding;
      }

      .modal-title {
        margin-bottom: $mobile-modal-padding;
      }

      .modal-close {
        top: $mobile-modal-padding;
        right: $mobile-modal-padding;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  body {
    .info-block .info-text {
      max-width: 260px;
    }

    .inner-page .content .transactions {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 360px) {
  body {
    .modal {
      .modal-content {
        margin: 10px;
      }
    }
  }
}
