.auth {
  z-index: 2;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;

  .form-block {
    width: 380px;
    margin: 0 auto;
  }

  .field {
    &.field-input {
      margin-bottom: 30px;

      input {
        border-bottom: 1px solid $gray2;
        color: $dusk;
      }

      input::-webkit-input-placeholder {
        color: $dusk !important;
        opacity: 0.7;
      }

      ::-moz-placeholder {
        color: $dusk !important;
        opacity: 0.7;
      }

      :-ms-input-placeholder {
        color: $dusk !important;
        opacity: 0.7;
      }

      :-moz-placeholder {
        color: $dusk !important;
        opacity: 0.7;
      }
    }

    &.error div.error-text {
      opacity: 0.7;
    }
  }

  .captcha {
    margin-top: 15px;
    color: $dusk;
  }

  .buttons {
    .pull-right {
      line-height: 45px;
      color: $dusk;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.close {
  position: absolute;
  right: 0;
  top: 50px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url("../static/icons/close.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}
