.auth {
  width: 340px;
  position: absolute;
  left: 50%;
  margin-left: -170px;
  top: 50%;
  margin-top: -150px;
  display: none;

  .field {
    &.field-input {
      margin-bottom: 30px;

      input {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: $white;
      }

      input::-webkit-input-placeholder {
        color: $gray !important;
      }

      ::-moz-placeholder {
        color: $gray !important;
      }

      :-ms-input-placeholder {
        color: $gray !important;
      }

      :-moz-placeholder {
        color: $gray !important;
      }
    }

    &.error div.error-text {
      color: $white;
      opacity: 0.5;
    }
  }

  .captcha {
    color: $white;
  }

  .buttons {
    .button {
      padding: 0;
    }

    .pull-right {
      line-height: 40px;
      color: $white;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.close {
  position: absolute;
  right: 0;
  top: 50px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url("/static/icons/close.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}
