.benefits .inner {
  padding: 130px 0 20px 0;
  text-align: center;
  color: #70dfc8;
}

.benefits .inner .img {
  margin-bottom: 30px;
}

.benefits .inner .img img {
  display: inline-block;
  width: 72px;
  height: 72px;
  position: relative;
}

.benefits .inner h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.benefits .inner p {
  opacity: 0.5;
  font-size: 14px;
  color: $text-color;
}

// .benefits .inner .benefit-4 {
//   color: #3d4f6c;
// }
