
// Buttons:
//  -small
//  -medium
//  -big
//
//  -dark
//  -light
//  -transparent
//  -clean

.button {
  display: inline-block;
  line-height: 38px;
  color: #fff;
  // box-shadow: 0 10px 30px rgba(45, 63, 148, 0.4);
  // font-size: 13px;
  // font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: none;

  &.small {
    padding: 0 27px 0 18px !important;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 50px;
  }

  &.big {
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 50px;
    padding: 0 30px;
  }

  &.medium {
    height: 45px;
    line-height: 44px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 50px;
    padding: 0 52px 0 44px;
  }

  &.dark {
    background-color: $dusk;
    color: $button-text-color;

    &:hover {
      background-color: lighten($dusk, 25%);
    }
  }

  &.light {
    background-color: #a7dbee;

    &:hover {
      opacity: 1 !important;
      background-color: lighten(#a7dbee, 10%);
    }
  }

  &.transparent {
    background-color: transparent;
    color: $dusk;

    &:hover {
      color: $blue;
      background-color: transparent;
    }
  }

  &.clean {
    background-color: transparent;
    box-shadow: none;
    font-weight: normal;

    &:hover {
      opacity: 0.5;
    }
  }

  &.arrow {
    position: relative;
    max-width: 190px;
    height: auto;
    min-height: 40px;
    padding: 10px 50px 10px 30px !important;
    line-height: initial;
    box-shadow: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:after {
      position: absolute;
      top: 50%;
      right: 30px;
      display: block;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      background-image: $arrow-button-icon;
      background-position: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      content: "";
    }
  }

  &.banking,
  &.wallet {
    position: relative;
    width: 240px !important;
    padding-left: 50px;
    font-size: 13px !important;

    &:before {
      position: absolute;
      top: 50%;
      left: 20px;
      display: block;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background-position: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.6;
      content: "";
    }
  }

  &.banking {
    &:before {
      background-image: $banking-icon;
    }
  }

  &.wallet {
    &:before {
      background-image: $wallet-icon;
    }
  }
}

.menu-button {
  z-index: 9999;
  position: relative;
  width: 30px;
  height: 24px;
  margin: 10px 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  display: none;
}

.menu-button::before,
.menu-button::after,
.menu-button span {
  background: $text-color;
  opacity: 0.8;
}

.menu-button::before,
.menu-button::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.menu-button span {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 2px;
  text-indent: 200%;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.menu-button::before {
  -webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
  transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
  -webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
  transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}

.menu-button.active span {
  opacity: 0;
}

.menu-button.active::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button.active::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
