$white: #fff;
$black: #000;
$black2: #3d4f6c;
$blue: #0050db;
$blue2: #00c1ff;
$blue3: #b1e8f9;
$light-blue: rgba(0, 80, 220, 0.25);
$shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
$shadow2: 0 10px 30px rgba(45, 63, 148, 0.4);
