$white: #fff;
$white-alpha: rgba(255, 255, 255, 0.2);
$white-alpha2: rgba(255, 255, 255, 0.25);
$black: #000;
$black2: #3d4f6c;
$blue: #0050db;
$blue2: #00c1ff;
$blue3: #b1e8f9;
$blue4: #002db6;
$light-blue: rgba(0, 80, 220, 0.25);
$shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
$shadow2: 0 10px 30px rgba(45, 63, 148, 0.4);
$gray: #bfbec4;
$gray2: #a9a9a9;
$gray-alpha: rgba(45, 44, 62, 0.1);
$gray-alpha2: rgba(45, 44, 62, 0.2);
$red: #e91e63;
