.content {
  background-color: $white;

  .inner {
    padding: 80px 0 160px 0;
  }

  .addresses {
    background-color: #fff;
    padding: 40px 0;
    border: 1px solid #e4ebf3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    color: $dusk;
    position: relative;
    margin-bottom: 60px;

    &:before {
      content: '';
      height: 100%;
      width: 1px;
      background-color: #ebeef3;
      opacity: 0.5;
      left: 50%;
      top: 0;
      position: absolute;
    }

    .item {
      width: 50%;
      float: left;
      padding: 0 30px 0 120px;
      position: relative;
    }

    .img {
      background-size: 70px 70px;
      width: 70px;
      height: 70px;
      position: absolute;
      left: 30px;
      top: 50%;
      margin-top: -36px;

      &.eth {
        background-image: url("../static/icons/eth.svg");
      }

      &.btc {
        background-image: url("../static/icons/btc.svg");
      }
    }

    .title {
      opacity: 0.5;
      margin-bottom: 16px;
    }

    .value {
      font-size: 14px;
      font-weight: 600;
    }

    &.declined {
      text-align: center;
      color: #3d4f6c;

      &:before {
        display: none;
      }

      .status-declined .img {
        position: relative;
        left: 0;
        top: 0;
        margin-top: 0;
      }
    }
  }

  .tabs {
    line-height: 40px;
    margin-bottom: 40px;

    li {
      display: inline-block;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #3d4f6c;
        opacity: 0.5;

        &:hover {
          opacity: 1;
          color: #0050db;
        }
      }

      &.active a {
        opacity: 1;
        color: #0050db;
      }
    }
  }

  .balance {
    margin-right: 40px;
  }

  .transactions {
    .item {
      border: 1px solid #e4ebf3;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
      background-color: #fff;
      margin-bottom: 15px;
      padding: 30px;
      position: relative;

      &:before {
        content: '';
        height: 100%;
        width: 1px;
        background-color: #ebeef3;
        opacity: 0.5;
        left: 104px;
        top: 0;
        position: absolute;
      }

      & > div {
        float: left;
        margin-right: 50px;
      }

      .title {
        opacity: 0.5;
        margin-bottom: 10px;
      }

      .value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .type {
        width: 47px;
        height: 42px;
        background-size: 47px 42px;
        margin-right: 60px;
      }

      .jnt {
        width: 122.5px;
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
      }

      .amount {
        position: relative;
        width: 140px;
      }

      .date {
        width: 110px;
      }

      .hash {
        position: relative;
        margin-right: 0;
      }

      &.outgoing {
        .type {
          background-image: url("../static/icons/outgoing.svg");
        }

        &.pending {
          .type {
            background-image: url("../static/icons/outgoing-2.svg");
          }
        }
      }

      &.incoming {
        /* stylelint-disable no-descending-specificity */
        .type {
          background-image: url("../static/icons/incoming.svg");
        }

        .jnt {
          color: #0050db;
        }

        &.pending .type {
          background-image: url("../static/icons/incoming-2.svg");
        }

        &.presale .type {
          background-image: url("../static/icons/incoming-presale.svg");
        }
        /* stylelint-enable no-descending-specificity */
      }
    }
  }
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: $content-min-height;

  @media only screen and (max-width: 600px) {
    min-height: 100vh;
    padding-top: 150px;
  }
}
