.form {
  .inner {
    padding: 80px 0;
    background-color: $white;
    margin: 0 auto;
    width: 500px;
  }

  .buttons {
    padding-top: 20px;
  }

  .field {
    position: relative;
    margin-bottom: 40px;

    &.field-checkbox {
      input {
        display: none;
      }

      input + label {
        padding-left: 30px;
        font-size: 13px;
        font-weight: normal;
        position: relative;
        top: 0;
        color: $black2;
        left: 0;
        display: block;
        line-height: 24px;
      }

      input + label:before {
        top: 2px;
        display: inline-block;
        position: absolute;
        left: 0;
        border: 2px solid $gray;
        background-color: $white;
        width: 16px;
        height: 16px;
        content: '';
        border-radius: 10px;
      }

      input:checked + label:before {
        display: block;
        position: absolute;
        border: 2px solid $cucumber;
        width: 16px;
        height: 16px;
        background-color: $cucumber;
        background-image: url("../static/icons/checkbox.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      // input:checked + label {
      //   color: $blue;
      // }
    }

    &.field-input {
      input {
        display: block;
        width: 100%;
        padding: 15px 0;
        border: none;
        border-bottom: 1px solid $text-color;
        font-family: $font;
        font-size: 13px;
        font-weight: normal;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        background-color: transparent;

        &:-webkit-autofill {
          transition: all 999999s ease-in-out 0s;
        }

        &:invalid {
          color: $black;
          box-shadow: none;
        }
      }

      &.error input {
        color: $red;
        border-bottom: 1px solid $red;
      }

      ul {
        display: none;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        border: 1px solid $gray-alpha2;
        background-color: $white;
        z-index: 10;
        padding: 5px 0;
        max-height: 160px;
        overflow: auto;

        &.active {
          display: block;
        }

        &.scroll {
          height: 136px;
          overflow: auto;
        }

        a {
          display: block;
          line-height: 40px;
          padding: 0 15px;
          cursor: pointer;

          &.active {
            background-color: $black2;
          }

          &:hover {
            color: $black2;
          }
        }
      }

      input:focus + ul {
        display: block;
      }

      &.error .error-text {
        top: initial;
        bottom: -20px;
      }

      &.field-date input {
        height: 51px;
      }

      &.field-date input[type="date"] {
        font-family: $font;
      }
    }

    &.field-select {
      select {
        display: block;
        width: 100%;
        padding: 15px 0;
        border: none;
        border-bottom: 1px solid $gray-alpha;
        background: transparent;
        font-family: $font;
        font-size: 13px;
        font-weight: 600;
        color: $gray2;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 $black;
        }

        &.selected {
          color: $black;
        }
      }
    }

    &.field-input.error,
    &.field-select.error {
      input {
        color: $red;
        border-bottom: 1px solid $red;
      }

      div.error-text {
        display: block;
        color: $red;
        text-align: right;
        position: absolute;
        right: 0;
        top: 60px;
      }
    }
  }

  /*
  .field.field-input div.error-text,
  .field.field-select div.error-text {
    display: none;
  }

  .field.field-checkbox.error .error-text {
    top: initial;
    bottom: -20px;
  }
  */

  .terms-link {
    margin-left: 4px;
  }
}
