.info-block {
  text-align: center;
  position: relative;
  padding: 20px 0;

  .icon {
    margin: 0 auto;
    width: 72px;
    height: 72px;
    background-size: 72px 72px;

    &.ico-waiting {
      background-image: url("/static/icons/waiting.svg");
    }

    &.withdraw-tokens {
      background-image: url("/static/icons/withdraw.svg");
    }

    &.status-declined {
      background-image: url("/static/icons/benefit-4.svg");
    }
  }

  p {
    font-size: 15px;
    line-height: 24px;
    margin-top: 30px;
  }

  .withdraw-text {
    max-width: 300px;
    margin: 30px auto 0 auto;
    font-size: 15px;

    /* font-size: 13px; */
  }
}

.withdraw-balance,
.withdraw-address {
  font-weight: 600;
}

.withdraw-balance {
  margin: 0 5px;
}

.withdraw-address {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
