.info-block {
  text-align: center;
  position: relative;
  padding: 20px 0;

  .icon {
    margin: 0 auto;
    width: 72px;
    height: 72px;
    background-size: 72px 72px;

    &.ico-waiting {
      background-image: url("/static/icons/waiting.svg");
    }

    &.withdraw-tokens {
      background-image: url("/static/icons/withdraw.svg");
    }

    &.status-declined {
      background-image: url("/static/icons/benefit-4.svg");
    }

    &.kyc-status.approved {
      background-image: url("/static/icons/kyc-status-1.svg");
    }

    &.kyc-status.preliminarily.approved {
      background-image: url("/static/icons/kyc-status-2.svg");
    }

    &.kyc-status.declined {
      background-image: url("/static/icons/kyc-status-3.svg");
    }

    &.kyc-status.pending {
      background-image: url("/static/icons/kyc-status-3.svg");
    }

    &.eth {
      background-image: url("/static/icons/eth.svg");
    }

    &.email {
      background-image: url("/static/icons/email-sended-w.svg");
    }
  }

  div {
    font-size: 15px;
    line-height: 24px;
    margin-top: 30px;
  }

  .info-text {
    max-width: 300px;
    margin: 30px auto 0 auto;
    font-size: 15px;

    &.withdraw-text {
      max-width: 320px;

      div {
        font-size: 13px;

        @media only screen and (max-width: 450px) {
          font-size: 11px;
        }

        @media only screen and (max-width: 370px) {
          font-size: 10px;

          .withdraw-balance,
          .withdraw-address {
            font-weight: 400;
          }
        }
      }
    }
  }
}

.withdraw-balance,
.withdraw-address {
  font-weight: 600;
}

.withdraw-balance {
  margin: 0 5px;
}

.withdraw-address {
  display: block;
  max-width: 100%;

  @media only screen and (min-width: 340px) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
