.inner {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
}

.inner-page {
  .start .header {
    padding-bottom: 50px;
  }

  .progress {
    top: 160px;

    .line {
      height: 1px;
      bottom: 0;
    }

    .item.raised {
      color: $blue2;
    }

    .item.total {
      color: $blue3;
    }

    .point {
      box-shadow: none;
      border: none;
    }
  }
}
