.inner {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
}

.inner-page {
  .start {
    min-height: initial;

    .header {
      padding-bottom: 50px;

      .support-link {
        line-height: 1;
        margin-right: 0;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .start {
      z-index: 1000;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

    > .content,
    > .form {
      padding-top: $mobile-header-full-height;
    }
  }
}
