.inner {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
}

.inner-page {
  .start {
    min-height: auto;

    .header {
      padding-bottom: 50px;
    }
  }

  .progress {
    top: 160px;

    .line {
      height: 1px;
      bottom: 0;
    }

    .item.raised {
      color: $blue2;
    }

    .item.total {
      color: $blue3;
    }

    .point {
      box-shadow: none;
      border: none;
    }
  }

  @media only screen and (max-width: 600px) {
    .start {
      z-index: 1000;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

    > .content,
    > .form {
      padding-top: $mobile-header-full-height;
    }
  }
}
