.Transactions {
  > .transactions {
    > .empty {
      text-align: center;
      margin: 80px 0;

      > .icon {
        height: 72px;
        background-image: url("/static/icons/no-transactions.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      > .text {
        color: #3d4f6c;
        width: 320px;
        opacity: 0.5;
        display: inline-block;
        font-size: 13px;
        text-align: center;
        margin-top: 25px;
        line-height: 24px;
        font-family: 'Open Sans', Arial, sans-serif;
      }

      @media only screen and (max-width: 600px) {
        margin: 40px 0;
      }

      @media only screen and (max-width: 380px) {
        > .text {
          width: 280px;
          font-size: 11px;
        }
      }
    }
  }
}

.Verify {
  .Header {
    @media only screen and (max-width: 600px) {
      .menu.pull-right {
        display: block;
      }
    }
  }
}

.Captcha {
  display: flex;
  padding-top: 15px;
  justify-content: center;

  .field.error div.error-text {
    top: 90px;
  }
}

.Input {
  position: relative;
  margin-bottom: 40px;

  > .pt-input {
    all: unset;
    width: 100%;
    border: none;
    display: block;
    padding: 15px 0;
    font-size: 13px;
    appearance: none;
    font-weight: normal;
    font-family: 'Open Sans', Arial, sans-serif;
    border-bottom: 1px solid rgba(45, 44, 62, 0.1);
    border-radius: 0;
    -moz-appearance: none;
    background-color: transparent;
    -webkit-appearance: none;
  }
}

.Datepicker {
  input::-webkit-input-placeholder {
    color: #757575 !important;
  }

  ::-moz-placeholder {
    color: #757575 !important;
  }

  :-ms-input-placeholder {
    color: #757575 !important;
  }

  :-moz-placeholder {
    color: #757575 !important;
  }
}

.Verify {
  .start .header {
    padding-bottom: 40px;
  }
}

.Select {
  > span {
    display: block;

    > div {
      display: block;
    }
  }
}

.Datepicker {
  .pt-input {
    color: black;
  }

  .pt-popover-target {
    display: block;
  }

  .error-text {
    top: 65px !important;
  }

  .pt-input-group.pt-intent-danger .pt-input:focus {
    box-shadow: none;
  }

  .pt-input-group.pt-intent-danger .pt-input {
    box-shadow: none;
  }
}

.Account {
  .Header {
    .menu.pull-right {
      float: none;
      display: flex;
      flex-direction: row;
    }

    .menu.pull-right li:first-child {
      margin-left: 0;
    }

    a.round {
      padding: 15px 20px;
      background: #ffffff40;
      border-radius: 25px;
    }

    @media only screen and (max-width: 1100px) {
      .menu.menu-active li {
        display: block;
        margin: 0 0 30px 0 !important;

        a {
          display: inline-block;
        }
      }

      .header {
        padding: 30px 0;
      }

      .menu.pull-right {
        display: none;
      }

      .menu.pull-right.menu-active {
        display: flex;
        flex-direction: column;

        .address {
          padding: 0;
          display: block;
          margin-left: 0;
        }

        .address::before {
          display: none;
        }

        .kyc-status {
          display: block;
          margin-left: 0;
          padding: 0;
        }

        .clean {
          height: initial;
          line-height: initial;
        }
      }

      .menu.menu-active {
        top: 100px;
        left: 0;
        width: 100%;
        padding: 35px 30px;
        display: block;
        z-index: 25;
        position: absolute;
        background-color: #002db6;
      }

      .menu-button {
        display: block;
      }
    }

    .address {
      .add {
        display: flex;
        align-items: center;

        .icon {
          border: 1px solid #ffffff40;
          padding: 2px 7px;
          font-size: 25px;
          border-radius: 30px;
        }

        .text {
          margin-left: 10px;
        }
      }
    }
  }
}

.Identification {
  > form {
    > .info {
      margin: 20px 0;
      line-height: 1.5;
    }
  }
}

.Uploader {
  margin-bottom: 30px;

  .area {
    position: relative;
    display: block;
    max-width: 500px;
    width: 100%;
    line-height: 20px;
    padding: 170px 0 80px 0;
    background-color: $white;
    border: 1px solid $gray3;
    border-radius: 0;
    color: $blue;
    font-size: 13px;
    font-weight: 600;
    font-family: $font;
    transition: all 0.3s ease;

    &:hover {
      border-color: $blue2;
      background-color: $light-blue;
    }

    &:after {
      position: absolute;
      top: 81px;
      left: 50%;
      display: block;
      width: 72px;
      height: 72px;
      margin-left: -36px;
      background-image: url("/static/icons/id.svg");
      background-size: cover;
      background-position: 100%;
      background-repeat: no-repeat;
      content: "";
    }

    .image,
    .pdf {
      height: 270px;
      width: 100%;
      pointer-events: none;
    }

    &.with-file {
      width: 100%;
      height: 272px;
      padding: 0;
      line-height: initial;

      &:after {
        display: none;
      }
    }
  }

  .error-text {
    color: $red;
    margin-top: 15px;
    text-align: center;
  }
}

.Account {
  .progress .wrap {
    top: 160px;

    .item.raised {
      color: $blue2;
    }

    .item.total {
      color: $blue;
    }
  }
}

.Loader {
  .message .img {
    background-image: unset;
  }

  .message.approved .img {
    background-image: url("/static/icons/verify-approved.svg");
  }

  .message.pending .img {
    background-image: url("/static/icons/verify-pending.svg");
  }

  .message.declined .img {
    background-image: url("/static/icons/verify-declined.svg");
  }
}

.pt-popover-content .pt-input {
  box-shadow: unset;
  border-radius: unset;
}

.pt-popover-content .pt-input:focus {
  box-shadow: 0 0 0 1px #137cbd;
}

.pt-input-group.pt-intend-danger {
  all: unset;
}

a {
  text-decoration: none !important;
}

.close {
  display: unset;
}

button {
  border: none;
  cursor: pointer;
  font-family: unset;
}

.field.field-checkbox.error {
  .error-text {
    top: 110px;
  }
}

.start .header li.bordered button {
  padding: 12px 30px 13px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  border-radius: 20px;
}

.start .header li.bordered button:hover {
  opacity: 1;
  background-color: #00c1ff;
  border-color: transparent;
}

.start .header li button {
  display: block;
  padding: 0;
  background-color: transparent;
  color: $white;
  transition: all 0.3s ease 0s;
}

ol,
ul {
  margin: unset;
}

h3 {
  color: unset;
}

.content .tabs li.active div {
  opacity: 1;
  color: #0050db;
  cursor: pointer;
}

.content .tabs li div {
  color: #3d4f6c;
  opacity: 0.5;
  cursor: pointer;
}

.email-verification,
.password-reset {
  display: block;
  max-width: 460px;
  text-align: center;
  color: $white;

  .img {
    margin: 0 auto;
    width: 72px;
    height: 72px;
    background-size: 72px 72px;
  }

  p {
    margin: 30px 20px 40px 20px;
    font-size: 15px;
    line-height: 24px;
  }

  a {
    margin: 0 4px;
  }
}

.password-reset .img.sended {
  background-image: url("/static/icons/password-sended.svg");
}

.email-verification a[href^="mailto:"] {
  color: white;
  text-decoration: underline !important;
}

.email-verification .img.verified {
  background-image: url("/static/icons/email-verified.svg");
}

.email-verification .img.sended {
  background-image: url("/static/icons/email-sended.svg");
}

.email-verification .img.pending {
  background-image: url("/static/icons/loader.svg");
}

.email-verification .img.declined {
  background-image: url("/static/icons/email-declined.svg");
}

.button[type="submit"] {
  width: 175px;
}

.button[type="submit"]:disabled {
  background-size: 40px 11px;
  background-image: url("/static/icons/dots.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &.bordered {
    background-color: $light-blue;
    border-color: transparent;
  }
}

.progress .line {
  // width: unset;
}

.message p {
  white-space: pre-line;
}

@media only screen and (max-width: 600px) {
  body {
    .auth .buttons .button {
      float: none;
      width: 100%;
      margin-bottom: 20px;
      display: block;
      padding: 0 70px;
    }

    .Password {
      .Change {
        margin-top: -100px;
      }

      margin-top: 100px;
    }

    .Email {
      margin-top: 100px;
    }

    .Identification {
      .button {
        width: unset;
        padding: 0 15px;
        margin-bottom: 10px;
      }

      .button[type="submit"] {
        min-width: 125px;
      }
    }
  }
}

.field.field-input select {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid rgba(45, 44, 62, 0.1);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: transparent;
}

select:required:invalid {
  color: rgb(117, 117, 117);
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

button {
  font-family: $font !important;
}

$blue: #0050db;
$white: #fff;
$line-bg: rgba(0, 193, 255, 0.1);
$light-blue: #00c1ff;

.footer {
  background-color: $white;
  text-align: center;
  padding: 100px 0;
  overflow: hidden;
  border-top: 1px solid $line-bg;

  .inner {
    position: relative;
    margin: 0 auto;
    max-width: 1100px;

    .links {
      margin-bottom: 80px;

      li {
        display: inline-block;

        a {
          color: $blue;
          position: relative;
          padding: 0 30px;
          display: block;
          font-size: 15px;

          &:before {
            content: '';
            display: block;
            width: 64px;
            height: 64px;
            border-radius: 32px;
            background-color: $blue;
            background-repeat: no-repeat;
            margin: 0 auto;
            margin-bottom: 15px;
          }

          &:hover {
            color: $light-blue;

            &:before {
              background-color: $light-blue;
            }
          }
        }
      }
    }
  }

  p {
    opacity: 0.7;
    line-height: 2;
  }
}

@media only screen and (max-width: 1100px) {
  .footer {
    .links {
      li {
        margin-bottom: 20px;

        a {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    .links {
      li {
        margin-bottom: 20px;

        a {
          font-size: 0;
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    .links {
      li {
        margin-bottom: 20px;

        a {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 50px 0 !important;

    .links {
      margin-bottom: 20px !important;

      li {
        width: 23%;
        margin-bottom: 30px;

        a {
          padding: 0 !important;
          font-size: 12px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  .Identification {
    .form .buttons {
      display: flex;
      flex-direction: column;

      .button {
        margin-bottom: 10px;
      }
    }

    .button[type="submit"] {
      min-width: 125px;
    }
  }
}

.Modal {
  > .modal {
    > .modal-content {
      > .modal-body {
        font-size: 15px;
        margin-top: 40px;
        line-height: 1.5;
      }
    }
  }
}
