.Transactions {
  > .transactions {
    > .empty {
      text-align: center;
      margin: 80px 0 40px 0;

      > .icon {
        height: 72px;
        background-image: url("../static/icons/no-transactions.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      > .text {
        color: #3d4f6c;
        width: 320px;
        opacity: 0.5;
        display: inline-block;
        font-size: 13px;
        text-align: center;
        margin-top: 25px;
        line-height: 24px;
        font-family: 'Open Sans', Arial, sans-serif;
      }

      @media only screen and (max-width: 600px) {
        margin: 40px 0;
      }

      @media only screen and (max-width: 380px) {
        > .text {
          width: 280px;
          font-size: 11px;
        }
      }
    }
  }
}

.Captcha {
  display: flex;
  padding-top: 15px;
  justify-content: center;

  .field.error div.error-text {
    top: 90px;
  }
}

.Input {
  position: relative;
  margin-bottom: 40px;

  > .pt-input {
    all: unset;
    width: 100%;
    border: none;
    display: block;
    padding: 15px 0;
    font-size: 13px;
    appearance: none;
    font-weight: normal;
    font-family: 'Open Sans', Arial, sans-serif;
    border-bottom: 1px solid rgba(45, 44, 62, 0.1);
    border-radius: 0;
    -moz-appearance: none;
    background-color: transparent;
    -webkit-appearance: none;
  }
}

.Datepicker {
  input::-webkit-input-placeholder {
    color: #757575 !important;
  }

  ::-moz-placeholder {
    color: #757575 !important;
  }

  :-ms-input-placeholder {
    color: #757575 !important;
  }

  :-moz-placeholder {
    color: #757575 !important;
  }

  .pt-input {
    color: black;
  }

  .pt-popover-target {
    display: block;
  }

  .error-text {
    top: 65px !important;
  }

  .pt-input-group.pt-intent-danger .pt-input {
    box-shadow: none;
  }

  .pt-input-group.pt-intent-danger .pt-input:focus {
    box-shadow: none;
  }
}

.Verify {
  .start .header {
    padding-bottom: 40px;
  }
}

.Select {
  > span {
    display: block;

    > div {
      display: block;
    }
  }
}

.Account {
  .Header {
    .menu.pull-right {
      float: none;
      display: flex;
      flex-direction: row;

      li:first-child {
        margin-left: 0;
      }
    }

    a.round {
      padding: 15px 20px;
      background: #ffffff40;
      border-radius: 25px;
    }

    .address {
      .add {
        display: flex;
        align-items: center;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border: 1px solid $white;
          border-radius: 50%;
          font-size: 25px;
        }

        .text {
          margin-left: 10px;
        }
      }
    }

    .support-link {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    @media only screen and (max-width: 800px) {
      .address {
        display: none;
      }
    }

    @media only screen and (max-width: 600px) {
      .menu.menu-active li {
        display: block;
        margin: 0 0 30px 0 !important;

        a {
          display: inline-block;
        }
      }

      .header {
        padding: 30px 0;
      }

      .menu.pull-right {
        display: none;
      }

      .menu-button {
        display: block;
      }
    }
  }
}

.Uploader {
  margin-bottom: 30px;

  .area {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 500px;
    width: 100%;
    line-height: 20px;
    padding: 170px 0 80px 0;
    background-color: $white;
    border: 1px solid $gray3;
    border-radius: 0;
    color: $blue;
    font-size: 13px;
    font-weight: 600;
    font-family: $font;
    transition: all 0.3s ease;

    > .hint {
      text-align: center;
    }

    &:hover {
      border-color: $blue2;
      background-color: $light-blue;
    }

    &:after {
      position: absolute;
      top: 81px;
      left: 50%;
      display: block;
      width: 72px;
      height: 72px;
      margin-left: -36px;
      background-image: url("../static/icons/id.svg");
      background-size: cover;
      background-position: 100%;
      background-repeat: no-repeat;
      content: "";
    }

    .image,
    .pdf {
      height: 270px;
      pointer-events: none;
    }

    &.with-file {
      width: 100%;
      height: 272px;
      display: flex;
      padding: 0;
      line-height: initial;
      align-items: center;
      justify-content: center;

      &:after {
        display: none;
      }
    }
  }

  .error-text {
    color: $red;
    margin-top: 15px;
    text-align: center;
  }
}

.Loader {
  .message {
    .img {
      background-image: unset;
    }

    &.approved .img {
      background-image: url("../static/icons/verify-approved.svg");
    }

    &.declined .img {
      background-image: url("../static/icons/verify-declined.svg");
    }

    &.preliminarily.approved .img {
      background-image: url("../static/icons/verify-pending.svg");
    }
  }
}

/*
.pt-popover-content .pt-input {
  box-shadow: unset;
  border-radius: unset;

  &:focus {
    box-shadow: 0 0 0 1px #137cbd;
  }
}

.pt-input-group.pt-intend-danger {
  all: unset;
}

a {
  text-decoration: none !important;
}

.close {
  display: unset;
}

button {
  border: none;
  cursor: pointer;
  font-family: unset;
}

.start .header li.bordered button {
  padding: 12px 30px 13px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  border-radius: 20px;
}

.start .header li.bordered button:hover {
  opacity: 1;
  background-color: #00c1ff;
  border-color: transparent;
}

.start .header li button {
  display: block;
  padding: 0;
  background-color: transparent;
  color: $white;
  transition: all 0.3s ease 0s;
}

ol,
ul {
  margin: unset;
}

h3 {
  color: unset;
}

.content .tabs li.active div {
  opacity: 1;
  color: #0050db;
  cursor: pointer;
}

.content .tabs li div {
  color: #3d4f6c;
  opacity: 0.5;
  cursor: pointer;
}

.email-verification,
.password-reset,
.address-change-confirm,
.withdraw-confirm {
  color: $white;
  display: block;
  max-width: 460px;
  text-align: center;
  white-space: pre-line;

  .img {
    margin: 0 auto;
    width: 72px;
    height: 72px;
    background-size: 72px 72px;
  }

  p {
    color: #fff;
    margin: 30px 0;
    opacity: 0.7;
    font-size: 14px;
    line-height: 24px;
  }

  .button {
    font-weight: 600;
  }

  a {
    margin: 0 4px;
  }
}

.password-reset .img.sended {
  background-image: url("../static/icons/password-sended.svg");
}

.email-verification a[href^="mailto:"] {
  color: white;
  text-decoration: underline !important;
}

.email-verification .img.verified {
  background-image: url("../static/icons/email-verified.svg");
}

.email-verification .img.sended {
  background-image: url("../static/icons/email-sended.svg");
}

.email-verification .img.pending {
  background-image: url("../static/icons/loader.svg");
}

.email-verification .img.declined {
  background-image: url("../static/icons/email-declined.svg");
}

.address-change-confirm,
.withdraw-confirm {
  > .img.success {
    background-image: url("../static/icons/done.svg");
  }

  > .img.loading {
    background-image: url("../static/icons/loader.svg");
  }

  > .img.fail {
    background-image: url("../static/icons/error.svg");
  }
}

.button[type="submit"] {
  width: 175px;
}

.button[type="submit"]:disabled {
  background-size: 40px 11px;
  background-image: url("../static/icons/dots.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &.bordered {
    background-color: $light-blue;
    border-color: transparent;
  }
}

.message p {
  white-space: pre-line;
}

@media only screen and (max-width: 600px) {
  body {
    .auth .buttons .button {
      float: none;
      width: 100%;
      margin-bottom: 20px;
      display: block;
      padding: 0 70px;
    }

    .Password {
      .Change {
        margin-top: -100px;
      }

      margin-top: 100px;
    }

    .Email {
      margin-top: 100px;
    }
  }
}

.field.field-input select {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid rgba(45, 44, 62, 0.1);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: transparent;
}

select:required:invalid {
  color: rgb(117, 117, 117);
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

button {
  font-family: $font !important;
}

*/
