$modal-padding: 50px;
$modal-header-height: 24px;
$modal-close-width: 16px;

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  backface-visibility: hidden;
  overflow-scrolling: touch;

  &.close {
    display: none;
    visibility: hidden;
  }

  &.open {
    display: flex;
    visibility: visible;
  }

  &.opening,
  &.closing {
    .modal-overlay {
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }

    .modal-content {
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  }

  &.opening {
    .modal-overlay {
      animation-name: modal-overlay-opening;
    }

    .modal-content {
      animation-name: modal-content-opening;
    }
  }

  &.closing {
    .modal-overlay {
      animation-name: modal-overlay-closing;
    }

    .modal-content {
      animation-name: modal-content-closing;
    }
  }

  &.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translateX(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .modal-overlay {
    z-index: 1001;
    position: fixed;
    top: -1000px;
    right: -1000px;
    bottom: -1000px;
    left: -1000px;
    background: rgba(43, 46, 56, 0.9);
    cursor: pointer;
  }

  .modal-content {
    z-index: 1002;
    position: relative;
    width: 450px;
    margin: 40px;
    padding: $modal-padding;
    background-color: $white;
    border-radius: 5px;
    box-shadow: $shadow;
    vertical-align: middle;
    text-size-adjust: 100%;
    text-align: left;
  }

  .modal-title {
    width: 100%;
    height: $modal-header-height;
    line-height: $modal-header-height;
    margin-bottom: $modal-padding;
    font-size: 17px;
  }

  .modal-close {
    z-index: 1002;
    position: absolute;
    top: $modal-padding;
    right: $modal-padding;
    width: $modal-close-width;
    height: $modal-header-height;
    background-size: $modal-close-width $modal-close-width;
    background-image: $modal-close-icon;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }

  .modal-body {
    .field {
      margin-bottom: 30px;

      .error-text {
        top: 50px;
      }
    }

    .button {
      margin-top: 10px;
    }
  }
}

@keyframes modal-content-opening {
  from {
    transform: scale(1.05);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes modal-content-closing {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

@keyframes modal-overlay-opening {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-overlay-closing {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}
