.status {
  position: relative;
  text-align: center;
}

.status .item {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: #0050db;
  font-size: 15px;
  opacity: 0;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-name: item;
  -webkit-animation-name: item;
  animation-fill-mode: forwards;
}

.status .item-1 {
  animation-delay: 0s;
}

.status .item-2 {
  animation-delay: 5s;
}

.status .item-3 {
  animation-delay: 10s;
}

.status .item-4 {
  animation-delay: 15s;
}

.status .item-5 {
  animation-delay: 20s;
}

.status .item-6 {
  animation-delay: 25s;
}

@keyframes item {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  15% {
    transform: translateY(0%);
    opacity: 1;
  }

  85% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}
