.start .steps {
  padding-bottom: 50px;
  text-align: center;
  color: $dusk;

  .item {
    display: inline-block;
    width: 200px;

    .img {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: $white;
      border: 2px solid $blue;
      margin: 0 auto;
      position: relative;
      z-index: 10;

      &:after {
        width: 180px;
        height: 1px;
        background-color: $dusk;
        opacity: 0.3;
        position: absolute;
        content: '';
        left: 18px;
        top: 8px;
      }
    }

    &:last-child .img:after {
      display: none;
    }

    .title {
      margin-top: 15px;
      opacity: 0.7;
    }

    &.active {
      opacity: 1;

      .img {
        background-color: $cucumber;
        border: 2px solid $cucumber;
      }

      .title {
        opacity: 1;
      }
    }

    &.checked .img {
      background-image: url("../static/icons/checkbox-2.svg");
      background-size: 20px 20px;
    }
  }

  @media only screen and (max-width: 700px) {
    .item {
      width: 150px;
    }

    .img:after {
      width: 116px !important;
    }
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}
